#workout 
 %h1= @workout.date.strftime("%A %B %d")
 %h2= @workout.workout
 %h2= @workout.mood
 %h2= @workout.length
 
 #exercises
 %h1 Exercises
 %h2= render @workout.exercises

 %h2 Add an exercise
 %h2= render "exercises/form"

 
 = link_to "Back" ,root_path 
 |
 = link_to "Edit", edit_workout_path(@workout)
 |
 = link_to "Delete" ,workout_path(@workout), method: :delete,data: {confirm: "Are you sure?"}