<h4> Click on the Image for the Respective Application</h4>

<%= link_to(image_tag("1.jpg", class: 'image-responsive jumbotron1'),"http://phani05353.herokuapp.com/",  :method => :get) %>
<%= link_to"             ",root_path %>
<%= link_to(image_tag("2.jpg", class: 'image-responsive jumbotron1'), "http://phaniphotoapp.herokuapp.com/",  :method => :get) %>
<%= link_to"             " ,root_path%>
<%= link_to(image_tag("3.jpg", class: 'image-responsive jumbotron1'),"http://clockapp1.herokuapp.com/",  :method => :get) %>
<%= link_to"             " ,root_path%>
<%= link_to(image_tag("4.jpg", class: 'image-responsive jumbotron1'), "http://phanifinanceapp.herokuapp.com/",  :method => :get) %>